<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">To-Do Lists</li>
    <% @categories.each do |category| %>
			<% if params[:id].to_i.eql? category.id %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to category.title, :controller => "categories", :action => "list", :id => category %>
			</li>
    <% end %>
		<li><%= button_to 'New Category', :controller => "categories", :action => "new" %></li>
  </ul>
</div>